#chris13{color: rgb(8, 0, 255);

}


h2{
    color: blue;
}
.chris{font-size:x-large;}

table:hover{
    border:10px solid rgb(6, 94, 246);
    transition: 1s;
    background-color: rgb(210, 156, 56);
}

#Logo{
    border-color: rgb(246, 130, 6)
}




 
